{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col'>
            <h1>{{ object.title }}</h1>
            {{ object.timestamp|timesince }} atrás
            <h3>{{ "Um título qualquer" | title }}</h3>
            {{ object.description | linebreaks }} <br/>
            {% if object.image %}
                <img src='{{ object.image.url }}' class='img-fluid'/>
            {% endif %}
            {{ object.price }} <br/>
            {{ object.history | linebreaks }} <br/>
            {{ object.harmonizacao | linebreaks }} <br/>
            {{ object.premios | linebreaks }} <br/>
        </div>
    </div>
</div>
{% endblock content %}